.google-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 25px 0 100px 0;
}
.about-section {
  padding: 45px 0 40px 0;
}
.services-section::after {
  background: none;
}
.team-member .image-box {
  max-height: 485px;
}
.trail-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 25px auto 100px auto;
}
.instagram-feed .sec-title-two h2 {
  color: #444;
}
.about-title span {
  display: inline-block;
}
.instagram-feed {
  margin-bottom: 30px;
}
.team-member.volunteer .inner-box:hover .overlay-box::after {
  display: none;
}
.team-member .inner-box .overlay-box:before {
  border-right: 500px solid transparent;
}
