.google-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 25px 0 100px 0;
}
.about-section {
  padding: 45px 0 40px 0;
}
.services-section::after {
  background: none;
}
.team-image .image-box {
  max-height: 485px;
}
.trail-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 25px auto 100px auto;
}
