.google-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 25px 0 100px 0;
}
.about-section {
  padding: 45px 0 40px 0;
}
.services-section::after {
  background: none;
}
.team-member .image-box {
  max-height: 485px;
}
.trail-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 25px auto 100px auto;
}
.instagram-feed .sec-title-two h2 {
  color: #444;
}
.about-title span {
  display: inline-block;
}
.instagram-feed {
  margin-bottom: 30px;
}
.team-member.volunteer .inner-box:hover .overlay-box::after {
  display: none;
}
.team-member .inner-box .overlay-box:before {
  border-right: 500px solid transparent;
}
.gallery-section {
  margin-top: 50px;
}
.text p {
  font-size: 17px;
}
.gallery-item .inner-box .image {
  background-size: cover;
  background-position: center;
}
.gallery-item .inner-box .image img {
  visibility: hidden;
}
.fa-fa-airplane::before {
  content: '\f1d9';
}
.main-footer .contact-widget .newsletter-one.no-margin-top {
  margin-top: 0;
}
#mc_embed_signup_scroll > div.mc-field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-footer .contact-widget .form-group input[type="submit"],
.main-footer .contact-widget .form-group button.subscribe-button {
  position: initial;
}
#mc-embedded-subscribe {
  background: #9c0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  text-align: center;
  width: 60px;
}
#foxyform_embed_link_871815 {
  display: none !important;
}
